old/*
site/*
todel/*

backup/*
src/*/build
**/*.o
**/*.d
**/*.swp
**/*.img
**/*.elf
**/*.list
**/*.cmd

**/*.cache

/.vscode/*

*.json

*.pdf

.project
.cproject
.orig

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

.gdb_history
